@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #FCBF49;
    --secondary-color: #D41956;
    --secondary-color-light: #EF4653;
    --accent-color: #3D3FE0;
    --accent-color-light: #1DB8A0;
    --light-color: #F5F3EE;
    --dark-color: #1A1A1A;

    --primary-font: 'Montserrat', sans-serif;
    --accent-font: 'Montagu Slab', serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    color: var(--dark-color);
}

h1, h2, h3 {
    font-family: var(--accent-font); /* Use font-family property */
}

.landing-page {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-page .left-section {
    flex: 1;
    background-color: white;
    flex-shrink: 0;
    width: 50%;
    z-index: 0;
}
    
.landing-page .right-section {
    position: absolute;
    right: 0;
    flex: 1;
    background-color: var(--light-color);
    flex-shrink: 0;
    min-height: 100%;
    z-index: 2;
    width: 50%;
    align-items: center;
    justify-content: center;
    transition: width 1s ease; /* Add transition for smooth width change */
}

.landing-page img {
    display: block; /* Ensure the image is treated as a block element */
    width: 35%; /* Ensure the image fills its container width */
    height: auto; /* Maintain aspect ratio */
    z-index: 1;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.header-banner {
    height: 150px;
    align-items: center;
    display: none; /* Hide the icon initially */
    z-index: 3;
    position: absolute;
}

.header-banner .header-items {
    height: 100px;
    width: 100%;
    position: fixed;
    top: 50px; /* Adjust as needed */
    left: 50px; /* Adjust as needed */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-items .title-container {
    height: 100px;
    display: flex;
    align-items: center;
}
    
.header-items .icon {
    width: 100px;
    height: 100px;
}

.header-items .title {
    margin-left: 25px; /* Adjust as needed */
    font-weight: normal;
}

.header-items .menu-container {
    margin-right: 50px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu-items {
    display: none;
    list-style-type: none; /* Remove bullet points */
    /*  display: flex; */
}

.menu-items.open {
    display: flex; /* Display the menu items when open */
}
            
.menu-items li {
    margin-right: 50px; /* Adjust the margin as needed */
}

.menu-items li:hover a {
    background-color: var(--secondary-color); /* Change to desired highlight color */
    transition: background-color 0.3s; /* Smooth transition */
    padding: 5px;
    color: white;
}

.menu-items a {
    font-family: var(--accent-font);
    text-decoration: none;
    color: var(--dark-color);
    padding: 5px;
}

.menu-icon {
    margin-right: 50px;
    width: 50px;
    height: 50px;
    background-image: url('/images/menu-icon-dark.png');
    background-size: contain;
    cursor: pointer;
    transition: transform 0.3s; /* Add transition for smooth rotation */
}

.menu-icon.flip {
    transform: scaleX(-1); /* Return to original orientation when menu is open */
}

.menu-icon:hover {
    background-color: var(--secondary-color);
    border-radius: 50%;
    background-image: url('/images/menu-icon-light.png');
    background-size: contain;
}

.copyright {
    position: absolute;
    bottom: 50px;
    color: var(--dark-color);
    font-size: 10px;
    z-index: 3;
}
.copyright span {
    display: inline-block;
    margin: 0 5px;
    font-family: var(--accent-font);
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

@keyframes expandRightSection {
    0% { width: 50%; }
    100% { width: 75%; }
}

.landing.pulse {
    animation: pulse 2s infinite; /* Apply pulse animation to logo */
}

.expand {
    animation: expandRightSection 3s forwards; /* Apply expand animation to right section */
    animation-delay: 1s; /* Delay the start of the animation by 3 seconds */
}