:root {
    --primary-color: #FCBF49;
    --secondary-color: #D41956;
    --secondary-color-light: #EF4653;
    --accent-color: #3D3FE0;
    --accent-color-light: #1DB8A0;
    --light-color: #FBF9F4;
    --dark-color: #1A1A1A;
  }